@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #EFF2F7;
  color: #212226;
}
